@import '../../variables';

:root {
    --background-color-light: #fff;
    --text-color-light: #000;
    --border-color-light: #ccc;
    --border-color-focus-light: #00674e;
    --placeholder-color-light: #888;
    --error-message: #c90b0b;
  }
  
  .input-field-container {
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 100%;
    max-width: 400px;
    font-family: $p-font-family;
    font-weight: $p-font-weight;
    font-style: $p-font-style;
  
    .input-field-label {
      font-size: 16px;
      font-weight: 500;
      color: var(--text-color-light);
    }
  
    .input-field-input {
      padding: 12px 16px;
      border-radius: 8px;
      border: 1px solid var(--border-color-light);
      font-size: 16px;
      outline: none;
      transition: border-color 0.2s ease-in-out;
      width: 100%;
      background-color: var(--background-color-light);
      color: var(--text-color-light);
  
      &::placeholder {
        color: var(--placeholder-color-light);
      }
  
      &:focus {
        border-color: var(--border-color-focus-light);
      }
  
      &.filled {
        border-color: var(--border-color-focus-light);
      }
  
      &.read-only {
        background-color: #f5f5f5;
        cursor: not-allowed;
      }
    }

    .input-error-message {
      color: var(--error-message);
    }
  
    // Dark mode styles
    &.dark-mode {
      .input-field-label {
        color: #f6f0f3;
      }
  
      .input-field-input {
        background-color: #3C3B3A;
        //color: #ffffff;
        border: 1px solid #00674e;
  
        &::placeholder {
          color: #aaa;
        }
  
        &:focus {
          border-color: #00674e;
        }
  
        &.filled {
          border-color: #00674e;
          color: #e8ce71;
        }
  
        &.read-only {
          background-color: #585858;
          cursor: not-allowed;
        }
      }
    }
  }