.hero-header {
    position: relative;
    width: 100%;
    min-height: 120vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    // color: white;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 20px;
    background-image: url('/hero-bg-default-small.png');
  }

  .hero-header--login {
    background-image: url('/hero-bg-login-small.png');
  }
  
  @media (min-width: 768px) {
    .hero-header--login {
      background-image: url('/src/assets/storybookImages/hero-bg-login-desktop.png');
    }
  }
  
  // @media (min-width: 1200px) {
  //   .hero-header--login {
  //     background-image: url('/src/assets/storybookImages/hero-bg-login-desktop.png');
  //   }
  // }
  
  .hero-header--register {
    background-image: url('/hero-bg-register-small.png');
  }

  @media (min-width: 768px) {
    .hero-header--register {
      background-image: url('/src/assets/storybookImages/hero-bg-register-desktop.png');
    }
  }
  
  @media (min-width: 1200px) {
    .hero-header--register {
      background-image: url('/src/assets/storybookImages/hero-bg-register-desktop.png');
    }
  }
  
  .hero-header__content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
  }

  .hero-header__top-row {
    display: flex;
    justify-content: flex-end;
    width: 100%;
  }
  .hero-header__logo {
    max-width: 100px;
  }
  .hero-header__text-section {
    margin-top: auto;
  }
  .hero-header__title {
    font-size: 3em;
  }
  .hero-header__description {
    font-size: 1.2em;
  }
  .hero-header__bottom-text {
    font-size: 2.5em;
    font-weight: bold;
  }