@use '../../variables' as v;

.link {
    font-family: v.$p-font-family;
    font-optical-sizing: v.$p-font-optical-sizing;
    font-weight: v.$p-font-weight;
    font-style: v.$p-font-style;
    text-decoration: "underline";
    color: v.$mustardYellow;
    cursor: pointer;
    padding-left: 47px;
  }