@use '../../variables' as *;

.button {
  display: inline-block;
  cursor: pointer;
  border: 0;
  border-radius: 20px;
  font-weight: 500;
  line-height: 1;
  text-align: center;
  padding: 15px 25px;
  font-size: 1rem;
  outline: none;
  width: 250px;

  &--emeraldGreen--primary {
    background-color: $emeraldGreen;
    color: white;

    &:hover {
      color: $emeraldGreen;
      background-color: white;
      border: 1px solid $emeraldGreen;
    }
  }

  &--emeraldGreen--secondary {
    background-color: white;
    border: 1px solid $emeraldGreen;
    color: $emeraldGreen;

    &:hover {
      color: white;
      border: 1px solid $emeraldGreen;
      background-color: $emeraldGreen;
    }
  }

  &--emeraldGreen--tertiary {
    color: $emeraldGreen;

  }

  &--mustardYellow--primary {
    background-color: $mustardYellow;
    color: white;

    &:hover {
      color: $mustardYellow;
      background-color: white;
      border: 1px solid $mustardYellow;
    }
  }

  &--mustardYellow--secondary {
    background-color: white;
    border: 1px solid $mustardYellow;
    color: $mustardYellow;

    &:hover {
      color: white;
      border: 1px solid $mustardYellow;
      background-color: $mustardYellow;
    }
  }


  &--mustardYellow--tertiary {
    color: $mustardYellow;

  }

  &--cream--primary {
    background-color: $cream;
    color: white;

    &:hover {
      color: $cream;
      background-color: white;
      border: 1px solid $cream;
    }
  }

  &--cream--secondary {
    background-color: white;
    border: 1px solid $cream;
    color: $cream;

    &:hover {
      color: white;
      border: 1px solid $cream;
      background-color: $cream;
    }
  }

  &--cream--tertiary {
    color: $cream;

  }

  &--pink--primary {
    background-color: $pink;
    color: white;

    &:hover {
      color: $pink;
      background-color: white;
      border: 1px solid $pink;
    }
  }

  &--pink--secondary {
    background-color: white;
    border: 1px solid $pink;
    color: $pink;

    &:hover {
      color: white;
      border: 1px solid $pink;
      background-color: $pink;
    }
  }

  &--pink--tertiary {
    color: $pink;
  }

  &--tertiary {
    border: none;
    background-color: inherit;
  }

  &--isDisabled {
    cursor: not-allowed;
  }
}