@use '../../variables' as vars;

.button {
  display: inline-block;
  cursor: pointer;
  border: 0;
  border-radius: 20px;
  font-weight: 500;
  line-height: 1;
  text-align: center;
  padding: 15px 25px;
  font-size: 1rem;
  outline: none;
  width: 250px;

  &--emeraldGreen--primary {
    background-color: vars.$emeraldGreen;
    color: white;

    &:hover {
      color: vars.$emeraldGreen;
      background-color: white;
      border: 1px solid vars.$emeraldGreen;
    }
  }

  &--emeraldGreen--secondary {
    background-color: white;
    border: 1px solid vars.$emeraldGreen;
    color: vars.$emeraldGreen;

    &:hover {
      color: white;
      border: 1px solid vars.$emeraldGreen;
      background-color: vars.$emeraldGreen;
    }
  }

  &--emeraldGreen--tertiary {
    color: vars.$emeraldGreen;

  }

  &--mustardYellow--primary {
    background-color: vars.$mustardYellow;
    color: white;

    &:hover {
      color: vars.$mustardYellow;
      background-color: white;
      border: 1px solid vars.$mustardYellow;
    }
  }

  &--mustardYellow--secondary {
    background-color: white;
    border: 1px solid vars.$mustardYellow;
    color: vars.$mustardYellow;

    &:hover {
      color: white;
      border: 1px solid vars.$mustardYellow;
      background-color: vars.$mustardYellow;
    }
  }


  &--mustardYellow--tertiary {
    color: vars.$mustardYellow;

  }

  &--cream--primary {
    background-color: vars.$cream;
    color: white;

    &:hover {
      color: vars.$cream;
      background-color: white;
      border: 1px solid vars.$cream;
    }
  }

  &--cream--secondary {
    background-color: white;
    border: 1px solid vars.$cream;
    color: vars.$cream;

    &:hover {
      color: white;
      border: 1px solid vars.$cream;
      background-color: vars.$cream;
    }
  }

  &--cream--tertiary {
    color: vars.$cream;

  }

  &--pink--primary {
    background-color: vars.$pink;
    color: white;

    &:hover {
      color: vars.$pink;
      background-color: white;
      border: 1px solid vars.$pink;
    }
  }

  &--pink--secondary {
    background-color: white;
    border: 1px solid vars.$pink;
    color: vars.$pink;

    &:hover {
      color: white;
      border: 1px solid vars.$pink;
      background-color: vars.$pink;
    }
  }

  &--pink--tertiary {
    color: vars.$pink;
  }

  &--tertiary {
    border: none;
    background-color: inherit;
  }

  &--isDisabled {
    cursor: not-allowed;
  }
}