@use '../../variables.scss' as vars;

.listing-page {
    &__container {
        margin-top: 40px;

        &__filters {
            border-bottom: 2px solid #F1F4FB;

            &__option {
                display: inline;
                margin-right: 20px;
                background-color: inherit;
                border: none;

                &__name {
                    color: #A1A1A1;
                    font-weight: 900;
                    font-size: 1.1rem;
                    line-height: 20px;
                    position: relative;

                    &.active::after {
                        content: '';
                        position: absolute;
                        bottom: -5px;
                        left: 0%;
                        width: 50%;
                        height: 3px;
                        background-color: vars.$emeraldGreen;
                        border-radius: 20px;
                    }
                }

            }
        }


        &__listings {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
            gap: 16px;
            margin: 20px 0;
        }
    }

    @media screen and (min-width: 800px) {
        &__container {
            &__listings {
                grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
                gap: 24px;
            }
        }
    }
}