@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    overflow-x: hidden; // only hide horizontal scroll, keep vertical if content grows
  }
  
  .flex-container {
    background-image: url("/src/assets/misc/background.png");
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    min-height: 100vh; 
    width: 100%; /* instead of 100vw */
  }  
  
  .background {
    flex: 2 1 400px; /* grow=2, shrink=1, basis=400px */
    background-image: url("/src/assets/storybookImages/hero-bg-register-desktop.png");
    background-size: cover;
    background-position: center;
    height: 600px;
    margin-left: 80px; /* balanced margin */
  }
  
  .form {
    flex: 1 1 300px; /* grow=1, shrink=1, basis=300px */
    background-color: white;
    height: 600px;
    margin-right: 100px;
  }

  .formContainer {
    padding: 10px 36px;
  }

  h1 {
    font: Oswald;
  }

  .formContent {
    padding: 0px 74px 0px 50px;
    
  }
  
  .emailApprovalSection {
    text-align: center;
  }

  @media (max-width: 800px) {
    .flex-container {
      flex-direction: column;
    }

    .background {
        background-image: url("/src/assets/storybookImages/hero-bg-register-small.png");
        background-size: cover;       /* scale with div */
        background-repeat: no-repeat; /* prevent tiling */
    }
    .background, .form {
      width: 90%; /* prevent them from squishing */
      margin: 10px auto; /* center on small screens */
    }
  }
  