.create-listing-page {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    .create-listing-page__container {
        width: 50%;
        padding: 62px;
        border-radius: 20px;

        display: flex;
        flex-direction: column;
        gap: 24px;

        align-items: stretch;
        text-align: left;
    }

    .create-listing-page__form {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .toast {
        width: 100%;
    }
    @media (max-width: 768px) {
    .create-listing-page__container {
        width: 100%; 
    }
  }
}