.success-message {
    color: green;
    margin-bottom: 12px;
}

.login-link {
    cursor: pointer;
    padding-left: 47px;
    text-align: center;
    display: block;
    padding: 0;
    text-decoration: underline;
}
