.listing-display-image {
  width: 100%;
  max-width: 300px;
  background-color: #ffffff;
  border-radius: 16px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  font-family: sans-serif;

  .listing-display-image__link {
    text-decoration: none;
  }

  // Dark Mode Styling
  &.dark-mode {
    background-color: #121212;
    box-shadow: 0 4px 8px rgba(255, 255, 255, 0.1);

    .listing-display-image__title {
      color: #ffffff;
    }

    .listing-display-image__subtitle {
      .price {
        color: #ffffff;
      }

      .per-day {
        color: #ffce1b;
      }
    }
  }

  &__image-container {
    position: relative;
  }

  &__image {
    width: 100%;
    height: auto;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
  }

  &__details {
    padding: 16px;
    text-align: center;
  }

  &__title {
    font-size: 1.25rem;
    font-weight: bold;
    margin: 0;
    color: #333;
  }

  &__subtitle {
    font-size: 1rem;
    color: #666;
    margin-top: 8px;

    .price {
      font-weight: bold;
      color: #333;
    }

    .per-day {
      color: #00674e;
      font-weight: bold;
      display: block;
      margin-top: 4px;
    }
  }
}